*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
header{
    border: 1px solid black;
    display: flex;
    background-color: grey;
    justify-content: space-between;
    align-items: center;
    color: white;
}
header > .logo{
    display: inline-block;
    margin:6px 10px;
}
header > .logo > img{
    height: 26px;
    vertical-align: bottom;
}
header > nav > ul{
    display: flex;
}
header > nav > ul > li{
    margin-right: 10px;
}
main{
    width: 800px;
    display: flex;
    margin: 10px auto;
}
aside{
    width: 300px;
    background-color: #999;
}
.content{
    width: 500px;
    height: 300px;
    background-color: #ccc;
}
.ad{
    width: 100px;
    background-color: black;
}
.imageList{
    width: 800px;
    margin: 0 auto;
}
.image-container{
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
}
.imageList > .image-container > .image{
    border: 1px solid black;
    width: 191px;
    height: 191px;
    margin-right: 12px;
}